In [2]:
from geopy import distance,Point
from geopy.geocoders import Nominatim
import pandas as pd

In [4]:
geolocator=Nominatim(user_agent="travelapp")
df=pd.read_csv('journey.csv')
df

   source destination
0  indore      bhopal

In [5]:
lat = []
long = []
for row in df['source']:
    addr = geolocator.geocode(row, timeout=10)
    if addr is None:
        lat.append(None)
        long.append(None)
    else:
        latitude = addr.latitude
        longitude = addr.longitude  
    
    lat.append(latitude)
    long.append(longitude)

df['latitude1'] = lat
df['longitude1'] = long

In [6]:
lat = []
long = []
for row in df['destination']:
    addr = geolocator.geocode(row, timeout=10)
    if addr is None:
        lat.append(None)
        long.append(None)
    else:
        latitude = addr.latitude
        longitude = addr.longitude  
    
    lat.append(latitude)
    long.append(longitude)

df['latitude2'] = lat
df['longitude2'] = long

In [7]:
df['point1'] = df.apply(lambda row: Point(latitude=row['latitude1'], longitude=row['longitude1']), axis=1)
df['point2'] = df.apply(lambda row: Point(latitude=row['latitude2'], longitude=row['longitude2']), axis=1)
df['distance_km'] = df.apply(lambda row: distance.distance(row['point1'], row['point2']).km if row['point2'] is not None else float('nan'), axis=1)
df

,source,destination,latitude1,longitude1,latitude2,longitude2,point1,point2,distance_km
0,indore,bhopal,22.720362,75.8682,23.258486,77.401989,"22 43m 13.3018s N, 75 52m 5.51856s E","23 15m 30.5485s N, 77 24m 7.1604s E",168.171675

In [8]:
df.to_csv('result.csv', index=False)
df.to_excel('result.xls', index=False)

<ipython-input-8-85efdac3f8ed>:2: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  df.to_excel('result.xls', index=False)

In [9]:
dis=df.distance_km.sum()
cost_per_km=8
ta=dis*cost_per_km
print("your current TA is: ",ta," Rs")

your current TA is:  1345.373403563262  Rs